.export-dialog {
	padding: 0px;
}

.export-dialog::backdrop {
	background: #00000000;
}

.export-wrapper {
	padding: 10px;
}

.export-block {
	padding: 0px 20px 10px 20px;
	display: flex;
	flex-direction: column;
}

.export-block:first-child {
	border-right: 1px solid lightgray;
}

.export-block>*:last-child {
	margin-top: auto;
}

.export-title {
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	margin: 0px 0px 20px 0px;
}

.export-block .input-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.export-block>div {
	margin: 0px 0px 10px 0px;
}

.input-wrapper label {
	font-weight: bold;
	margin: 0px 20px 0px 0px;
}

.input-label {
	font-weight: bold;
	margin: 0px 20px 0px 0px;
}

.input-wrapper input {
	text-align: right;
}

.export-buttons {
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.export-buttons>* {
	margin-top: 10px;
	margin: 10px 0px 0px 0px;
}

.descButtonGlow {
	border: 5px solid;
	animation-name: descButtonGlow;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

@keyframes descButtonGlow {
	0% {
		border-color: red;
	}

	50% {
		border-color: transparent;
	}

	100% {
		border-color: red;
	}
}