body {
	font-family: 'Courier New', Courier, monospace;
}

input[type="number"],
input[type=text] {
	width: 100px;
}

.line {
	display: flex;
	flex-direction: row;
}

.panel {
	align-items: baseline;
}

.panel>* {
	margin: 0px 10px 2px 0px;
}

.column {
	display: flex;
	flex-direction: column;
}

.point {
	cursor: pointer;
}

.no-mouse-events {
	user-select: none;
	pointer-events: none;
}

.component-header {
	font-weight: bold;
	margin: 0px 0px 10px 0px;
}

.tool {
	user-select: none;
	cursor: pointer;
}

.tool.selected {
	background-color: aquamarine;
}

.action-highlightable {
	font-weight: bold;
	cursor: pointer;
}

.action-list {
	height: 360px;
	min-width: 300px;
	overflow-y: scroll;
}